@using Blazored.Toast.Services
@using CourceProject.Components.Data
@using CourceProject.Components.Models
@using CourceProject.Components.Services
@using Microsoft.AspNetCore.Components.Forms
@inject IUserRepository _listUsers
@inject Blazored.SessionStorage.ISessionStorageService localStorage;
@inject IEncryptor passwordEncryptor;
@inject NavigationManager navigationManager;
@*@inject BlazoredToastService toastService*@
@inject IToastService toastService
@page "/Authorization"


@rendermode InteractiveServer

<h3>@_pageTitle</h3>


<EditForm Model="@_userAuthorization" OnValidSubmit="UserAuthorization" FormName="user_authorization">
    <DataAnnotationsValidator />
    <br />
    Имя пользователя: <InputText @bind-Value="_userAuthorization.Name" />
    <br />
    <br />
    Пароль пользователя: <InputText type="password" @bind-Value="_userAuthorization.Password" />
    <br />
    <ValidationSummary />
    <br />
    <br /> <input type="submit" value="Авторизоваться"/>
</EditForm>



@code {
    private string _pageTitle = "Авторизация пользователя";
    private IEnumerable<User> users = new List<User>();
    private User user;
    private int? _userId;
    private string? encryptedPassword;
    private string? decryptedPassword;
    [SupplyParameterFromForm]
    private UserAthirization _userAuthorization { get; set; } = new();
    // [Inject] protected ToastService? toastService { get; set; }
    protected override async void OnInitialized()
    {
        users = await _listUsers.GetUsers();
    }

    private async Task UserAuthorization()
    {
        if (_userAuthorization.Name != null && _userAuthorization.Password != null)
        {
            //SearchUser();
            if (SearchUser())
            {
                _userId = user.Id;
                toastService.ShowSuccess("Вы успешно авторизовались под пользователем " + _userAuthorization.Name);
                await SaveLocalStorage();
                navigationManager.NavigateTo("/PasswordManager");
            }
            else
            {
                toastService.ShowError("Пользователя с такими именем и паролем не найдено в бд!");
                _userAuthorization = new();
            } 
        }
        else
            toastService.ShowError("Не все поля заполнены корректно");
    }

    private async Task SaveLocalStorage()
    {
        await localStorage.SetItemAsync("userId", _userId);
        await localStorage.SetItemAsync("userName", _userAuthorization.Name);
    }
    private bool SearchUser()
    {
        bool flag = false;
        foreach (User userSearch in users)
        {
            if (userSearch.Password.Length>16)
                decryptedPassword = passwordEncryptor.Decrypt(userSearch.Password);
            if (userSearch.Name == _userAuthorization.Name && userSearch.Password == _userAuthorization.Password
            || userSearch.Name == _userAuthorization.Name && decryptedPassword == _userAuthorization.Password)
            {
                user = new();                
                user = userSearch;
                toastService.ShowInfo("Пользователь с таким именем и паролем найден в системе");
                flag = true;
            }
            
        }
        return flag;
    }
    
}
