@using Blazored.Toast.Services
@using CourceProject.Components.Data
@using CourceProject.Components.Models
@using CourceProject.Components.Services
@using Microsoft.AspNetCore.Components.Forms
@inject IUserRepository _listUsers
@inject Blazored.SessionStorage.ISessionStorageService localStorage;
@inject IEncryptor passwordEncryptor;
@inject NavigationManager navigationManager;
@inject IToastService toastService
@inject ILogger<Authorization> logger
@page "/Authorization"

@rendermode InteractiveServer

<h1 style="color:blueviolet; font-style:oblique" align="center">@_pageTitle</h1>
<br/>
<div class="container-fluid">
    <div class="col-md-4 offset-md-4" text-align="left">
        <div class="form-container">
            <div class="form-icon"><i class="fa fa-user"></i></div>
            <h3 class="title">Authorisation</h3>
            <EditForm Model="@_userAuthorization" OnValidSubmit="UserAuthorization" FormName="user_authorization" class="form-horizontal">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <InputText @bind-Value="_userAuthorization.Name" class="form-control" placeholder="Имя пользователя" />
                </div>
                <div class="form-group">
                    <label>Пароль пользователя</label>
                    <InputText type="password" @bind-Value="_userAuthorization.Password" class="form-control" placeholder="Пароль" />
                </div>
                
                <ValidationSummary />
                <br />
                <br /> <input type="submit" value="Авторизоваться" class="btn btn-default">
                <br />
            </EditForm>
        </div>
    </div>
</div>


@code {
    private string _pageTitle = "Авторизация пользователя";
    private IEnumerable<User> users = new List<User>();
    private User? user;
    private int? _userId;
    private string? decryptedPassword;
    [SupplyParameterFromForm]
    private UserAuthorization _userAuthorization { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        users = await _listUsers.GetUsers();
    }
    #region метод авторизации пользователя
    private async Task UserAuthorization() // метод авторизации пользователя
    {
        if (_userAuthorization.Name != null && _userAuthorization.Password != null)
        {
            if (SearchUser())
            {
                _userId = user!.Id;
                user.LastLoginDate = DateTime.Now;
                await _listUsers.UpdateUser(user);
                toastService.ShowSuccess("Вы успешно авторизовались под пользователем '" +_userAuthorization.Name + "'");
                await SaveLocalStorage();
                logger.LogInformation("Сохранение имени и Id пользователя {" + _userAuthorization.Name + "} в sessionStorage при авторизации");
                navigationManager.NavigateTo("/PasswordManager");
            }
            else
            {
                toastService.ShowError("Пользователя с такими именем и паролем не найдено в бд!");
                _userAuthorization = new();
            } 
        }
        else
            toastService.ShowError("Не все поля заполнены корректно");
    }
    #endregion

    private async Task SaveLocalStorage()
    {
        await localStorage.SetItemAsync("userId", _userId);
        await localStorage.SetItemAsync("userName", _userAuthorization.Name);
    }

    #region метод поиска пользователя в базе
    private bool SearchUser() // метод поиска пользователя в базе
    {
        _userAuthorization.Name = _userAuthorization.Name!.Trim();
        _userAuthorization.Password = _userAuthorization.Password!.Trim();
        bool flag = false;
        foreach (User userSearch in users)
        {
            if (userSearch.Password!.Length>16)
                decryptedPassword = passwordEncryptor.Decrypt(userSearch.Password);
            if (userSearch.Name == _userAuthorization.Name && userSearch.Password == _userAuthorization.Password
            || userSearch.Name == _userAuthorization.Name && decryptedPassword == _userAuthorization.Password)
            {
                user = new();                
                user = userSearch;
                // toastService.ShowInfo("Пользователь с таким именем и паролем найден в системе");
                // logger.LogInformation("Пользователь с именем {" +userSearch.Name + "} найден в системе");
                flag = true;
            }
        }
        return flag;
    }
    #endregion
}
