﻿@using BlazorBootstrap;

<Modal @ref="modal1" title="Modal title" UseStaticBackdrop="true" CloseOnEscape="false">
    <BodyTemplate>
        I will not close if you click outside me. Don't even try to press escape key.
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary">Understood</Button>
    </FooterTemplate>
</Modal>


        <Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">Launch static backdrop modal</Button>
        <Button Color="ButtonColor.Danger" @onclick="OnShowModalClick">Launch static backdrop modal</Button>





@code {
    private Modal modal1;

    private async Task OnShowModalClick()
    {
        await modal1?.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal1?.HideAsync();
    }
}
