@using CourceProject.Components.Data
@using CourceProject.Components.Models
@inject IUserRepository _listUsers
@inject IAccountRepository _listAccounts
@inject Blazored.LocalStorage.ILocalStorageService localStorage;
@page "/PasswordManager"


<PageTitle>@_pageTitle + @_listUsers.</PageTitle>

<h1>Список аккаунтов</h1>

<p>This component demonstrates showing data.</p>

@if (_listAccounts.GetAccounts().Result.Count == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ресурс</th>
                <th>Логин</th>
                <th>Пароль</th>
                <th>Показ</th>
                <th>Смена</th>
                <th>Длина</th>
            </tr>
        </thead>
        <tbody>
            
            @for (int i = 0; i < _listAccounts.GetAccounts().Result.Count; i++)
            {
                <tr>
                    <td>@_listAccounts.GetAccounts().[i]</td>
                    <td>  </td>
                    <td>
                        <button>Сменить</button>
                    </td>
                    <td>
                        <select> 
                            <option> 4</option>
                            <option> 5</option>
                            <option> 6</option>
                        </select>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private string _pageTitle = "Менеджер паролей";
  
    private async Task GetLocalStorage()
    {
        await localStorage.GetItemAsync<string>("userId");
        
    }


    
}
